
/* ARRANCA 320*/

@media (min-width: 320px) {

* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
   }


body {
  background-color: #F3F8FA;
}

nav {font-size: 20px;
    border-bottom: solid 1px;
    background-color: #F3F8FA;
    font-size: 1em;
  }

.logo {
  border-radius: 15px;
  box-shadow: 5px 10px 18px #888888;
  margin-left: 20px;
  height: 60px;
  width: 100px;
}    

.logo:hover{transform: scale(1.02);
}

nav ul li {
  margin-top: 15px;
}

nav ul li:hover{transform: translateY(-5px);
}

.whatsapp {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 1;
}

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 50px;
  border-top: solid 1px;
  padding-top: 10px;
  font-size: 0.8rem;
}

footer div {
  line-height: 10px;
  text-align: center;
  margin: auto;
  padding-top: 10px;

}
footer div p:first-child {
  font-weight: bold;
  padding: 5px;
}
/* ARRANCA INDEX 320*/

.index h1 {
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  padding-top: 15px;
}

span {
  color: #0151fe;
}

.cuerpo {display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: 2% 15%;
  line-height: 2em;
  text-align: center;
}

.foto {min-width: 200px;
       height: 140px;
       border-radius: 25%;
       box-shadow: 5px 10px 18px #888888;
       margin-bottom: 20px;
}

#reverse {flex-direction: column-reverse;}

/* TERMINA INDEX 320*/

/* ARRANCA NOSOTROS 320*/

.nosotrosCard {
  max-width: 70%;
  margin: 0 auto;
  border-radius: 30px;
  box-shadow: 5px 10px 18px #888888;
  margin-top: 30px;
}

.card{  display: flex;
  flex-direction: column;
  align-items: center; 
  border-radius: 30px;
}

.nosotros div img { width:300px;
                height: 200px ;
                margin: auto auto;
}

.nosotros h1 {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  padding-top: 15px;
}

.nosotros h2 {
      margin-top: 30px;
}

.nosotros div ul {
  padding-bottom: 10px;
  box-sizing: border-box;
}

/* TERMINA NOSOTROS 320*/

/* ARRANCA CONTACTO 320*/

.contacto {
  margin-left: 40px;
  margin-right: 40px;
}

.contacto h1 {
  font-size: 2em;
  font-weight: bold;
  padding-top: 15px;
}

.contacto h2 {
  margin-top: 30px;
  font-style: italic;
  font-size: 1em;

}

.contacto div {margin-top: 5px;
              margin-bottom: 5px;
}

.tilde {
  font-size: 0.75em;
}

.botones {
  display: flex;
  justify-content: center;
}


.btn {background-image: linear-gradient(#0151fe,#B5EBFD);
      box-shadow: 5px 10px 18px #888888;
      width: 30%;
      border-radius: 5px;
      border: 0;
      cursor: pointer;
      font-weight: bold;
      margin: 20px;
}

.btn:hover{transform: scale(1.02);
}


/* TERMINA CONTACTO 320*/

}
/* TERMINA 320*/





/* ARRANCA 1200*/

@media (min-width: 1200px) {

.logo {
  border-radius: 30px;
  margin-left: 25px;
  height: 120px;
  width: 200px;
}    

nav ul li {
  margin-top: 75px;
}

footer {
  flex-direction: row;
  font-size: 1rem;
}

/* ARRANCA INDEX 1200 */

.index h1 {
  font-size: 3.5em;
}

.cuerpo {display: flex;
  flex-direction: row;
  text-align: left;
}

#reverse {flex-direction: row;}
.textoUno{
  padding-right: 40px;
}

.textoDos{
  padding-left: 40px;
}

.foto {min-width: 400px;
      height: 280px;
      animation: animate__slideInLeft;
      animation-duration: 1.5s;
}


/* TERMINA INDEX 1200*/

/* ARRANCA NOSOTROS 1200*/

.nosotrosCard {
  animation: flipInX; 
  animation-duration: 2s;
}

.card{ flex-direction: row;
 }

.nosotros div img { width:380px;
                height: 300px ;
}

.nosotros h1 {
  font-size: 3.5em;
}


/* TERMINA NOSOTROS 1200*/

/*ARRANCA CONTACTO 1200*/

.contacto h1 {
  font-size: 3.5em;
}

.contacto h2 {
  margin-top: 40px;
  margin-bottom: 48px;
  font-size: 1.5em;
}

.tilde {font-size: 1em;
}

.btn {width: 15%;
     margin: 25px;
}


/*TERMINA CONTACTO*/
}